
body {
    background-image: url("../../Webpage/pics/bwflu2.jpeg");
    background-size: cover;
}
h1 {
    text-align: center;
    font-family: arial black;
    font-weight: bold;
    color: maroon;
    /* background-color: rgba(255, 255, 255, 0.4); */
    font-size: 50pt;
    padding: 1px; 
    border-radius: 100px;
}

  .text-container {
    width: 100%;
    margin: auto;
    background-color: rgba(128, 0, 0, 0.2);
    text-align: left;
    padding: 2px;
    padding-top: 1%;
    border-radius: 30px;
    font-size: 15pt;
    /* font-weight: bold; */
    font-family: verdana;
  }
  
  #graph {
      width: 60%;
      float: right;
  }
  .home-button-container {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .home-button {
      background-color: black;
      font-weight: bolder;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
  }
  #myChart {
    /* width: 600px;
    height: 400px; */
    background-color: rgba(240,255,255, 0.8);
    overflow: hidden;
     }
/* start of navbar */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: maroon;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: darkolivegreen;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }     